@import url('http://fonts.googleapis.com/css?family=Open+Sans&subset=cyrillic');
@import url('design/reset.css');


body {
  font-family: 'Open Sans', "Segoe UI", Tahoma;
  font-size: 32px;
  line-height: 48px;
  color: #000;
  height: 100%;
  background: rgb(240, 240, 240);
  /*background: radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));    */
  background-attachment: fixed;
}


h1 { font-size: 96px; line-height: 128px; }
h2 { font-size: 72px; line-height: 96px; }
h3 { font-size: 64px; line-height: 72px; }

aside {
  font-size: 48px;
}

a {
  display: inline-block;
  padding: 6px;
  border-radius: 12px;
  color: #acd;
  background: rgba(0,0,0,0.15);
  font-weight: bold;
  text-decoration: none;
  transition: all 1s ease;
}

a:hover {
  background: rgba(0,0,0,0.25);
}

.mosho-slide {
  width: 920px;
  padding: 20px;
  border-radius: 16px;
  text-align: center;
  text-shadow: 0 0 16px #fff;
  color: rgba(255,255,255,0);
  opacity: 0.2;
  transition: all 0.5s ease;
}

.mosho-slide.mosho-active {
  text-shadow: none;
  /*color: rgba(100,100,100,1);*/
  color: #555;
  opacity: 1.0;
}

.code {
  margin: 0 auto;
  padding: 16px;
  border-radius: 16px;
  text-align: left;
  font-family: monospace;
  font-size: 28px;
  background: rgba(0,0,0,0.0);
}

.mosho-active .code {
  background: rgba(0,0,0,0.3);
}

#SlideNumber {
  position: absolute;
  color: #888;
  bottom: 0px;
  left: 5px;
  border-radius: 3px;
  /*border: 1px solid #ddd;*/
  padding: 0px 15px;
}

#TimeBox {
  font-size: 50%;
  position: absolute;
  color: #888;
  /*bottom: 5px;*/
  left: 0px;
  border-radius: 3px;
  /*border: 1px solid #ddd;*/
  padding: 0px 15px;
}