.Row {
	width: 960px;
}

#Body .ContentColumn {
   float: right;
   width: 74%;
}

#Panel {
	width: 24%;
	float: left;
}

.Box {
   border-radius: 2px;
   background: #FAFFFF;
   padding: 6px 10px;
   margin: 0 0 10px;
}

.Box h4 {
	border-bottom: 1px solid #eee;
}

.Box ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.Box ul li {
	margin-bottom: 4px;
}

.HasCount li span {
	float: right;
	border-radius: 2px;
	background: #fff;
	padding: 0 4px;
	border: 1px solid #eee;
}

.TagCloud li {
	display: inline-block;
	background: #F7F9F9;
	padding: 0 4px;
	border-radius: 2px;
}

.TagCloud li span {
	display: none;
}

.SiteTitle {
	background: url("logo.jpg") no-repeat scroll 0px 0px transparent;
	padding-left: 90px;
	font-size: 40px;
	line-height: 65px;
	font-weight: normal;
	display: block;
	height: 70px;
	font-family: Impact, Arial;
}

.SiteTitle a {
	text-decoration: none;
	color: #72C8F5;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#SiteMenuWrapper {
	background: #38ABE3;
	border: 1px solid #333;
	border-right: 0;
	border-left: 0;
	padding: 2px 0;
}

#Body {
	padding: 20px 0 0 0;
}

#Foot {
	color: #555;
}